:root {
  --marquee-width: 80vw;
  --marquee-height: 15vh;
  --marquee-elems-displayed: 5;
  --marquee-elems: 10;
  --marquee-elem-width: calc(var(--marquee-width) / var(--marquee-elems-displayed));
  --marquee-duration-anim: calc(var(--marquee-elems) * 3s);
  --marquee-fs: calc(var(--marquee-height) * 3 / 4);
}

section,
footer,
header,
main,
nav {
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-text);
  background-color: var(--bg);
  text-align: left;
}

a {
  color: #ff7d15;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-headings);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: -2.5px;
  line-height: 1.05;
}

h2 {
  font-size: 3rem;
  letter-spacing: -2px;
}

p { margin-top: 0; }
button { outline: none; }

.container,
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container { max-width: 1140px; }

.ul-defaults-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-weight: 700;
  min-width: 175px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  transition: 0.4s;
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 32px 54px rgba(3, 3, 3, 0.12);
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary,
.btn-primary a {
  color: #fff;
  background-color: #ff7d15;
  border-color: #ff7d15;
}

.round-pill { border-radius: 50rem;}

.sub-header {
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}