.page-block {
  background: var(--bg);
}

#about .modal-body,
#contact .modal-body {
  padding: 2rem;
  flex-wrap: wrap;
}

#about .img-wrapper {
  flex: 1;
  text-align: center;
}

#about .img-wrapper img {
  max-width: 270px;
  border-radius: 50%;
}

.about-text {
  flex: 1;
  max-width: 60%;
}

.about-text p,
.about-text .contact-email {
  font-size: 1.2rem;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  margin: 2rem auto;
  position: relative;
}

.marquee-content {
  list-style: none;
  display: flex;
  height: 100%;
}

.marquee-content li {
  width: var(--marquee-elem-width);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: var(--marquee-fs);
  animation: scrollRightToLeft var(--marquee-duration-anim) linear infinite;
}

.marquee:before,
.marquee:after {
  position: absolute;
  width: 10rem;
  height: 100%;
  top: 0;
  content: '';
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
}

@keyframes scrollRightToLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-elem-width) * var(--marquee-elems))); }
}

#contact .modal-body {
  display: block;
}

.contact-text {
  padding-bottom: 3.5rem;
}

.contact-form .cf-input {
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  max-width: 500px;
  width: 100%;
  color: var(--clr-text);
  padding: 0 0 5px 0;
  line-height: 26px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--border);
  outline: none;
  background: transparent;
}

@media (max-width: 991px) {
  #about .img-wrapper,
  #about .about-text {
    flex: initial;
    margin: 0 auto;
  }

  .page-block { text-align: center; }
  .contact-form { margin: 0 auto; }
}

@media (max-width: 768px) {
  :root {
    --marquee-width: 100%;
    --marquee-elems-displayed: 3;
  }

  .marquee:before,
  .marquee:after {
    width: 5rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

@media (max-width: 474px) {
  :root {
    --marquee-elems-displayed: 2;
  }

  .full-size-modal {
    overflow-y: auto;
  }
}