:root {
  --bg: #fff;
  --bg-panel: #fff;
  --clr-headings: #161c2d;
  --clr-text-opacity: rgba(22, 28, 45, 0.7);
  --clr-text: #161c2d;
  --clr-text-base: #161c2d;
  --border: #383f53;
}

[data-theme="light"] .hero-bg {
  background-image: url("../assets/images/hero-pattern.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme="dark"] {
  --bg: #171a23;
  --bg-panel: #f1f1f1;
  --clr-headings: #fff;
  --clr-text-opacity: rgba(255, 255, 255, 0.7);
  --clr-text: #fff;
  --clr-text-base: #161c2d;
  --border: #c3d4da;
}