@media screen and (max-width: 1023px) {
  .heroContainer,
  .brandsList, 
  .hubspot, 
  .hireUs .container,
  .benefitsCards,
  .pricingOffer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wing {
    width: 3.656rem;
  }

  .bullet .bottom {
    padding: 0;
  }

  .bullet .bottom h3 { 
    font-size: 15px;
  }

  .hubspotRight .testimonial {
    padding: 50px 0;
    text-align: center;
  }

  .hubspotRight .hs-testimonialTop { 
    align-items: center;
  }

  .hireUsLeft {
    flex-direction: row;
  }

  .hul-divider {
    width: 396px;
  }

  .footerDivider {
    width: 960px;
  }

  .footerTop .ft-nav {
    flex-wrap:wrap;
    gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
      display: block;
    }

    [aria-expanded="false"]~ul {
      display: none;
    }

    [aria-expanded="true"]~ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 75px;
      background: var(--white);
      width: 100%;
      height: 681px;
      padding-top: 50px;
      text-align: center;
      border-top: 1px solid #E7E7E7;
    }

    [aria-expanded="true"]~ul .navbar-nav-links {
      display: flex;
      flex-direction: row;
      gap: var(--size-20);
    }

    [aria-expanded="true"]~ul li {
      padding: 20px 0 20px 0;
    }

    [aria-expanded="true"]~ul li a {
      margin-right: var(--size-20);
      color: var(--font-color-dark);
      font-size: var(--size-18);
    }
 
  .heroLeft-title {
    text-align: center;
  }

  .heroLeft-actions {
    align-self: center;
  }

  .heroRight {
  display: grid;
  grid-template-areas:
  'Google Atlassian Asana'
  'Paypal Empty Weave'
  'Empty2 GoogleAds Gcal';
  }

  #google {
    top: 0%;
    left: -75%;
  }

  #atlassian {
    top: 0%;
    left: 0%;
  }

  #asana {
    top: 0%;
    left: 85%;
  }

  #paypal {
    top: -25%;
    left: -20%;
  }

  #weave {
    top: -25%;
    left: -5%;
  }

  #googleA {
    top: -40%;
    left: -30%;
  }

  #calendar {
    top: -25%;
    left: 70%;
  }
  
  .heroIcon {
    position: relative;
  }

  .keyBenefits {
    margin-top: 200px;
  }

  .benefitsTitle {
    padding-top: var(--size-50);
  }

  .benefitsCards .benefit-card {
    width: 305px;
  }

  .Banner {
    flex-direction: column;
    padding-top: 30px;
  }

  .bannerLeft {
    align-items: center;
    width: 96%;
    padding-bottom: 30px;
  }

  .bannerLeft h2 {    
    text-align: center;
  }

  .bannerPlay .playButton {
    top: 40%;
  }

  .hubspot {
    margin: 0 auto;
    gap: 0;
  }

  .hubspotLeft {
    display: flex;
    justify-content: center;
  }

  .hubspotRight {
    padding: 0;
    align-items: center;
  }

  .hs-testimonialTop p {
    text-align: center;
  }

  .brands {
    padding-top: 0;
  }

  .brandsList {
    gap: 75px;
  }

  .brandsList span.icon {
    width: 61.6px;
    height: 30px;
    background-repeat: no-repeat;
  }

  .pricing {
    padding-top: 0;
  }

  .plan {
    width: 90%;
    align-items: center;
  }

  .plan .plan-top {
    width: 100%;
    align-items: center;
  }

  .plan-top p {
    max-width: 100%;
  }

  .plan-top .plan-divider {
    width: 600px;
  }

  .planFeatures {
    align-items: center;
  }

  .planFeatures .feature {
    width: 335px;
  }

  .feature h3 {
    font-size: var(--size-18);
  }

  .hireUsRight {
    width: 100%;
    padding: 30px 0;
  }

  header.contactUs-header {
    z-index: 1;
  }

  .hur-form-container {
    max-width: 100%;
  }

  .hireUsRight form.contactUs {
    align-items: flex-start;
  }

  select.field.dropdown {
    width: 291px;
  }

  .contactUs-action {
    margin: 0 auto;
  }

  .ft-front-contact .details {
    align-self: center;
  }

  .nav-col {
    width: 150px;
  }

  .nav-col ul li.hiring div span {
    right: 40px;
  }

  .footerDivider {
    width: 690px;
  }

  .footerBottom .fb-links {
    width: 100%;
    gap: var(--size-20);
  }

  .fb-linksRight {
    display: flex;
  }
}

/* These properties should also apply at 375px */

@media screen and (max-width: 425px) {
  [aria-expanded="true"]~ul .navbar-nav-links {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
  #google {
    top: 0%;
    left: -80%;
  }

  #atlassian {
    top: 0%;
    left: -50%;
  }

  #asana {
    top: 0%;
    left: 60%;
  }

  #paypal {
    top: 0%;
    left: -80%;
  }

  #weave {
    top: -25%;
    left: -50%;
  }

  #googleA {
    top: -50%;
    left: -40%;
  }

  #calendar {
    top: -10%;
    left: -10%;
  }

  .benefitsTitle p,
  .whyFrontTitle p,
  .pricingTitle p,
  .hul-top-phrase p,
  .footerTop .ft-nav h2 {
    text-align: center;
  }

  .whyFrontBullets {
    flex-direction: column;
    padding: 0;
  }

  .bullet {
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 0;
  }

  .wing {
    display: none;
  }

  .bannerPlay .playButton {
    top: 30%;
  }

  .hubspotLeft {
    width: 100%;
    height: 340px;
  }

  .image-woman {
    width: 262px;
    height: 300px;
    left: 65px;
  }

  .dots {
    width: 141px;
    height: 261px;
    left: 28px;
    top: 78px;
  }

  .brandsList {
    flex-direction: column;
    gap: var(--size-20);
  }

  .brandsList span.icon {
    width: 96px;
  }

  .plan-top .plan-divider {
    width: 248px;
  }

  .planFeatures-row {
    flex-direction: column;
  }

  .contactUs-input .cUi-row {
    flex-wrap: wrap;
  }

  .hul-top-header {
    align-items: center;
  }

  .hul-divider {
    width: 330px;
  }

  .hul-bottom .hul-bottom-person {
    align-items: center;
    padding: 0;
  }

  select.field.dropdown {
    width: 291px;
  }

  footer.container {
    flex-direction: column;
  }

  footer .footerTop {
    flex-direction: column;
  }

  .footerTop .ft-front-contact {
    justify-content: center;
    align-self: center;
  }

  .footerTop .ft-front-contact span.logo {
    margin: 0 auto;
  }

  .ft-front-contact .details {
    align-items: center;
  }

  .footerTop .ft-nav {
    justify-content: center;
    text-align: center;
  }

  .nav-col ul li.hiring div span {
    right: -10px;
  }

  .nav-col ul li.resource {
    justify-content: center;
  }

  .footerDivider {
    width: 328px;
  }

  .fb-linksRight form {
    flex-direction: column;
    align-items: center;
  }

  .footerBottom .fb-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .heroContainer {
    padding: 100px 0;
  }
  
  .heroLeft {
    padding-bottom: var(--size-50);
  }
  
  .heroRight {
    left: 15px;
  }
  
  #google {
    top: 0%;
    left: -80%;
  }

  #atlassian {
    top: 0%;
    left: -50%;
  }

  #asana {
    top: 0%;
    left: 0%;
  }

  #paypal {
    top: 0%;
    left: -80%;
  }

  #weave {
    top: -25%;
    left: -50%;
  }

  #googleA {
    top: -50%;
    left: -40%;
  }

  #calendar {
    top: -10%;
    left: -10%;
  }

  .bannerLeft { margin-left: 0;}

  .hubspotLeft {
    width: 360px;
    height: 382px;
  }

  .hubspotRight {
    width: 360px;
  }

  select.field.dropdown {
    width: 291px;
  }
}

@media screen and (max-width: 360px) {
  #google {
      top: 0%;
      left: -80%;
    }

    #atlassian {
      top: 0%;
      left: -50%;
    }

    #asana {
      top: 0%;
      left: 0%;
    }

    #paypal {
      top: 0%;
      left: -80%;
    }

    #weave {
      top: -25%;
      left: -50%;
    }

    #googleA {
      top: -50%;
      left: -40%;
    }

    #calendar {
      top: -10%;
      left: -10%;
    }


}